<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Cotton Price Prediction</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
</head>
<body>
	 <form action='/predict' method="post" class="col s12">
	 	<br/> <br/>
      <div class="row" align="center">
        <div class="input-field col s4">

          <label for="last_name"><b>Months</b></label>
            <br>
          <input id="last_name" name="Months" placeholder="No of months to predict"  type="text" class="validate">

        </div>
      </div>
      <br/> <br/><br/> <br/>
      <div class="row center" align="center">

          <button type="submit" class="btn-large waves-effect waves-light orange">Predict Probability</button>
      </div>
    </form>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>